<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" metadata-complete="true" version="2.4">
  <display-name>Integrate</display-name>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>
		  com.integrate.HelloServlet
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTimeServlet</servlet-name>
    <servlet-class>com.integrate.GetTimeServlet</servlet-class>
    <init-param>
      <param-name>message</param-name>
      <param-value>welcom1!</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimeServlet</servlet-name>
    <url-pattern>/GetTimeServlet</url-pattern>
    <url-pattern>/GetTimeServlet.aspx</url-pattern>
    <url-pattern>/GetTimeServlet.php</url-pattern>
    <url-pattern>/GetTimeServlet.jsp</url-pattern>
    <url-pattern>/GetTimeServlet.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdentityServlet</servlet-name>
    <servlet-class>com.integrate.IdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentityServlet</servlet-name>
    <url-pattern>/IdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>com.integrate.InitParamServlet</servlet-class>
    <init-param>
      <param-name>helloween</param-name>
      <param-value>password</param-value>
    </init-param>
    <init-param>
      <param-name>admin</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>babyface</param-name>
      <param-value>babyface</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/InitParamServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>upload folder</param-name>
    <param-value>attachment</param-value>
  </context-param>
  <context-param>
    <param-name>allowed file type</param-name>
    <param-value>.gif, .jpg, .bmp</param-value>
  </context-param>
  <servlet>
    <servlet-name>ContextParamServlet</servlet-name>
    <servlet-class>com.integrate.ContextParamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InjectionServlet</servlet-name>
    <servlet-class>com.integrate.InjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectionServlet</servlet-name>
    <url-pattern>/InjectionServlet</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>hello</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello, welcome to the JavaEE Resource Injection...</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>i</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>31</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>persons</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Helloween, Cobain, Roses, Axl, </env-entry-value>
  </env-entry>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>
		  com.integrate.SearchServlet
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>
		  com.integrate.PostServlet
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>com.integrate.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/UploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.integrate.LifeCycleServlet</servlet-class>
    <init-param>
      <param-name>startPoint</param-name>
      <param-value>1600</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>com.integrate.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.integrate.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <servlet-class>com.integrate.ThreadSafetyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <url-pattern>/ThreadSafetyServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>filterName</filter-name>
  	<filter-class>com.integrate.MyFilter</filter-class>
  	<init-param>
  		<param-name>paramName</param-name>
  		<param-value>paramvalue</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>filterName</filter-name>
  	<url-pattern>/jsp/*</url-pattern>
  	<url-pattern>*.do</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <filter>
  	<filter-name>ImageRedirectFilter</filter-name>
  	<filter-class>com.integrate.ImageRedirectFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>ImageRedirectFilter</filter-name>
  	<url-pattern>/images/*</url-pattern>
  	<url-pattern>/upload/images/*</url-pattern>
  </filter-mapping>

  <filter>
  	<filter-name>characterEncodingFilter</filter-name>
  	<filter-class>com.integrate.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>characterEncoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>enabled</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>characterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 
  <filter>
  	<filter-name>LogFilter</filter-name>
  	<filter-class>com.integrate.LogFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>LogFilter</filter-name>
  	<url-pattern>/greeting.jsp</url-pattern>
  </filter-mapping>
  
  -->
  <filter>
  	<filter-name>ExceptionHandleFilter</filter-name>
  	<filter-class>com.integrate.ExceptionHandleFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>ExceptionHandleFilter</filter-name>
  	<url-pattern>/ExceptionHandler.jsp</url-pattern>
  </filter-mapping>
  
  
  <filter>
  	<filter-name>privilegeFilter</filter-name>
  	<filter-class>com.integrate.PrivilegeFilter</filter-class>
  	<init-param>
  		<param-name>file</param-name>
  		<param-value>/WEB-INF/privilege.properties</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>privilegeFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>gzipFilter</filter-name>
  	<filter-class>com.integrate.GZipFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>gzipFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>cacheFilter</filter-name>
  	<filter-class>com.integrate.CacheFilter</filter-class>
  	<init-param>
  		<param-name>cacheTime</param-name>
  		<param-value>1000000</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>cacheFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  	<url-pattern>*.html</url-pattern>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
 <!-- 
 <filter>
  	<filter-name>xsltFilter</filter-name>
  	<filter-class>com.integrate.XSLTFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>xsltFilter</filter-name>
  	<url-pattern>*</url-pattern>
  </filter-mapping>
   --> 
  <listener>
  	<listener-class>
  		com.integrate.listener.SessionListenerTest
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.integrate.listener.ListenerTest
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.integrate.listener.MyContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.integrate.listener.MyRequestListener
  	</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>